<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Footer template</title>
</head>

<body>
<footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

    <nav>
        <a href='https://haaeee.github.io/' target='_blank'>Blog</a> |
        <a href='https://github.com/haaeee/' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/haaeee/Recommendation-Using-Open-API</span><br>
        <span>Copyright 2022. haaeee. All Rights Reserved.</span>
    </p>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
    </ul>
</footer>
</body>
</html>